<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        td,th{
        border:1px solid red;}
    </style>
</head>
<body>
<h1>Hello subash thapa</h1>
<h1>Detail of : {{name}}</h1>
<table style="border:1px solid red">
    <th>Year</th>
    <th>Semester</th>
    <th>Subjects</th>
    <th>Course Complete(in Days)</th>

{% for t in teacher%}
    <tr style="border:1px solid red">

<td ><p>{{t.year}}</p></td>
<td><p>{{t.teachesSemester}}</p></td>
<td><p>{{t.teachesSubjects}}</p></td>
<td><p>{{t.courseComplete}}</p></td>
        </tr>
{%endfor%}
    </table>
</body>
</html>