{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>KCMIT </title>

  <!-- CSS  -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
    <style>
        .input internal-autofill-selected{background-color:red !important}

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){

$( ".search" ).click(function() {
      var text = $(this).text();


      $( "#autocomplete-input" ).val(text);
      M.updateTextFields();


    });});
</script>

</head>
<body>

  <nav class="blue" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/teacher/" class="brand-logo">KCMIT</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text" href="/teacher/">HOME</a></li>
        <li><a class="white-text" href="/teacher/">PROGRAM</a></li>
        <li><a class="white-text" href="/teacher/">GALLARY</a></li>
        <li><a class="white-text" href="/teacher/">ABOUT US</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/teacher/">HOME</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
    </div>
  </nav>
<p>{{data.teachername}}</p>
{% if se%}
  <div class="section " style="height:90vh !important; margin-top:2%;">
      <div class="container" style="height:20vh !important; margin-top:2%;">
        <div class="row center">
           <form action="/teacher/" method="post" >
             {% csrf_token %}

          <div class="input-field col m12 s12">

                      <label for="autocomplete-input">Search The Teacher.                    .                               .                                     .</label>

          <input type="text" id="autocomplete-input"   name="q" class="autocomplete"></div>
<!--            <i class="material-icons prefix">search</i>-->
            <button class="btn waves-effect waves-light" type="submit" name="submit">Search
    <i class="material-icons right">search</i>
  </button>


           </form>
            {% if result %}
                <p>Did you mean :</p>
            {% for er in result%}
            <div class="chip white-text #4a148c purple darken-4" id="suash">
               <label> <span class=" white-text search">{{er.teachername|lower}}
                    </span><i class="white-text close material-icons">close</i></label>
  </div>{% endfor %}{% endif %}
            <br>

{{mcours}}
    <div class="col s12">
      <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a class="active" href="#test-swipe-1">Result</a></li>
    <li class="tab col s3"><a  href="#test-swipe-2">Analytic</a></li>

  </ul>
  <div id="test-swipe-1" class="col s12 ">
      <table id="example" class="display" style="width:100%">
            <thead>
            <tr>
    <th>Year</th>
    <th>Semester</th>
    <th>Program</th>
    <th>Subjects</th>
    <th>Course Complete(in Days)</th></tr>
            </thead>

{% for t in se%}
    <tr >

<td >{{t.year}}</td>
<td>{{t.teachesSemester}}</td>
        <td>{{t.program}}</td>
<td>{{t.subject}}</td>
<td>{{t.courseComplete}}</td>
        </tr>
{%endfor%}
    </table>

  </div>
  <div id="test-swipe-2" class="col s12">
      <form method="POST" id="opt_level"  data-url="/teacher/">
    {% csrf_token %}
           <div class="input-group mg-b-pro-edt">
                   <span class="input-group-addon"><i class="fa  fa-institution" aria-hidden="true"></i></span>
                   <input   type="text" name="teacher" value="{{teacher}}" class="form-control" placeholder="Last Teaching Institution">
               </div>



                     <div class="input-field right col s5">
                        <select  name="r">

                            {% for subj in subje %}
                            <option value="{{subj.subject__subject}}">


                                    {{ subj.subject__subject }}



                            </option>
                            {% endfor %}

                        </select>

                      </div>
                        </form><br>
    <div class="row col s12 " style="width:100%;">
		<canvas id="canvas"></canvas>
	</div>
  </div>

  </div>



      </div>
  </div>
  </div>
  <br>
  <footer class="page-footer teal" style="margin-top:40% !important;">
    <div class="container">
      Made by <a class=" text-lighten-3" href="http://materializecss.com">KCMIT TEAM</a>
      </div>


  </footer>
  {% else %}
   <div class="section " style="height:60vh !important; margin-top:10%;">
      <div class="container">
        <div class="row center">
           <form action="/teacher/" method="post" >
             {% csrf_token %}
          <div class="input-field col m12 s12">

                      <label class="active" for="autocomplete-input">Search The Teacher.                    .                               .                                     .</label>

          <input type="text" id="autocomplete-input" value=""  name="q" class="autocomplete " >
              </div>
               <button class="btn waves-effect waves-light" type="submit" name="submit">Search
    <i class="material-icons right">search</i>
  </button>
<!--            <i class="material-icons prefix">search</i>-->


           </form>

            <br>
            {% if messages %}
                    <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="alert-icon">


                                    {% for message in messages %}
                            <div id="modal1" class="modal {{ message.tags }}">
                                <div class="modal-content">
                                  <h4>Modal Header</h4>
                                  <p>{{ message }}</p>
                                </div>
                            <div class="modal-footer">
                              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
  </div>

                            {% endfor %}
                            </div>
                    </div>

                    {% endif %}
            {% if result %}
                <p>Did you mean :</p>
            {% for er in result%}
            <div class="chip white-text #4a148c purple darken-4" id="suash">
               <label> <span class=" white-text search">{{er.teachername|lower}}
                    </span><i class="white-text close material-icons">close</i></label>
  </div>{% endfor %}{% endif %}

        </div>


      </div>
  </div>
  <br>

  <footer class="page-footer teal">

    <div class="footer-copyright teal" >
      <div class="container ">
      Made by  :<a class="white-text " href="/teacher/">KCMIT TEAM</a>
      </div>
    </div>
  </footer>
{% endif %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
  <script src="{% static 'js/area-chart.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


   <script>

    var config = {
      type: 'line',
      data: {
        datasets: [{

        data: {{ course|safe }},


          backgroundColor: [
              'yellowgreen'
          ],
          label: 'Course Complete'
        }],
        labels: {{ teachers_year|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('canvas').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>
  <script>


$(document).ready(function(){
             var $myform = $('#opt_level');

             $myform.on("change", function(event){

                 event.preventDefault();
                 var $formData = $myform.serialize();
                 var $thisURL = $myform.attr('data-url');
                 $.ajax({
                     method:"POST",
                     url:$thisURL,
                     data:$formData,
                     success:handleSuccess,
                     error:handleError,
                 });
                 function handleSuccess(data){
                 console.log(data);
                 }
                 function handleError(ThrowError){
                 console.log(ThrowError);
                 }

             });
        });
</script>
   <script>

$(document).ready(function(){
$('select').formSelect();
$('.tabs').tabs();
$('#example').DataTable({
"searching":     false
});

    $('input.autocomplete').autocomplete({
      data: {{data|safe}},

    });

  });


  </script>


</body>
</html>
